<% layout('layout') %>

<div class="">
    <section class="width30 corner20 porcelain col gap10">

        <section class="bgWhite corner20 padding20 h100">
        </section>
        <section class="gap10 padding5">
            <a href="" class="nav corner30 porcelain bgWhite" style="width: calc(100% - 50px)">Hello</a>
            <a href="/test" class="nav cnav porcelain bgWhite"><i class="fas fa-chevron-right"></i></a>
        </section>

    </section>
</div>