<% layout('layout') %>
<style>
    .mainf {
        padding: 5px 15px;
    }
</style>

<section class="gap20 padding0">
    <div class="bgWhite h100 corner15"></div>
    <div class="bgWhite h100 corner15"></div>
    <div class="bgWhite h100 corner15"></div>
    <div class="bgWhite h100 corner15"></div>
</section>
<br>
<section class="h150 bgWhite corner15 relative">
    <div class="width60"></div>
    <div class="width40 bgTint14 corner15"></div>
    <img src="/images/student.png" alt="" class="h180 absolute" style="right: 32%; top: 0;">
</section>
<br>
<section class="h300 corner15 bgWhite"></section>
<br>
<section class="gap20 padding0">
    <div class="bgWhite h100 corner15"></div>
    <div class="bgWhite h100 corner15"></div>
    <div class="bgWhite h100 corner15"></div>
    <div class="bgWhite h100 corner15"></div>
</section>
