<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <link rel="stylesheet" href="/style.css?v=1.0">
    <link rel="icon" href="/images/logo.png">
    <title><%= title ? `${title} | AUDRES25` : 'AUDRES25' %></title>
    <style>
  @media (max-width: 900px) {
      .unau {
        width: 80% !important;
      }
  }
    </style>
</head>

<% if ( user.access === 1) { %>
<body class="padding0">

<div class="heigh0 absolute">
    <% if (error) { %>
    <p style="color: red;" class="bgRed100"><%= error %></p>
  <% } else { %>
    <p  class="bgGreen100">Welcome to AUDRES25!</p>
  <% } %>
</div>

    <%- body %>
    
</body>
<% } else { %>
<body class="padding0 abstractBG">
  <div class="width30 bgWhite height0 cornerRem12 padding20 col colorPrimary unau">
    <%- include('icons/warning') %>
    <p class="rem3 str500">Unauthorized Access</p>
    <p class="rem15 str400">Do not access this page!</p>
    <br>
    <a href="javascript:history.back()" class="nav"><i class="fas fa-chevron-left"></i>Go Back</a>
  </div>
</body>
<% } %>
</html>