<% layout('design') %>
<div class="height0 padding20 justifyStart"><a href="/" class="nav liquid"><i class="fas fa-chevron-left"></i> Go Back to Login</a></div>

<div class="height0 bgWhite cornerRem2 login colorPrimary width90" id="melt">
    <div class="bgWhite cornerRem2 padding20 col">

        <%- include('icons/success') %>
        <p class="rem26 upperCase marginBottom10">Awesome</p>
        <p class="rem12 textCenter">Your request has been successfully submitted. The information you provided will be reviewed before processing your requested documents. Account credentials will be issued once your verification is complete. You will be notified via your provided email. Please allow up to 24 hours for verification, excluding weekends</p>

    </div>
</div>