
<div class="height0 width0 corner500 borderGray bgWhite relative h100 w105" id="successIcon">
    <i class="fas fa-share size20 absolute darkGray h40 w40" style="transform: rotate(-30deg); left: 16%; top: 5%;"></i>
    <i class="fas fa-share-square size50 absolute blue h55 w56 marginLeft5" style="transform: rotate(-30deg);"></i>
</div>