
    <div class="height0 width0 corner500 borderGray bgWhite relative h100 w105" style="height: 100px; width: 100px;" id="successIcon">
        <i class="fas fa-lock size25 absolute colorPrimary h30 w30" style="transform: rotate(-20deg); left: 5%;"></i>
        <i class="fas fa-key size60 absolute blue h65 w65" style="transform: rotate(0deg); right: 5%; height: 65px; width: 65px; font-size: 60px !important;"></i>
        <i class="fas fa-question-circle size20 absolute darkGray h30 w30" style="transform: rotate(0deg); left: 20%; top: 15%;"></i>
    </div>