<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <link rel="stylesheet" href="/style.css?v=1.0">
    <link rel="icon" href="/images/logo.png">
    <title><%= title ? `${title} | AUDRES25` : 'AUDRES25' %></title>
</head>
<body class="padding0">
    <div class="height0 width0 corner500 borderGray bgWhite relative h100 w100" id="successIcon">
        <i class="fas fa-star size15 absolute yellow h20 w20" style="transform: rotate(-15deg); left: 5%;"></i>
        <i class="fas fa-thumbs-up size60 absolute green h65 w65" style="transform: rotate(-15deg); right: 5%;"></i>
        <i class="fas fa-star size25 absolute yellow h30 w30" style="transform: rotate(5deg); left: 10%; bottom: 15%;"></i>
    </div>
</body>
</html>